<h2>Admin Login</h2>
<br/>
<form action="/login" method="post">
 <div class="form-group">
  <input type="hidden" name="_method" value="put" />
  <label for="post_password">Password:</label>
  <br>
  <input id="post_password" class="form-control" name="password" type="password" />
 </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>