<h1><%=h @post.title %></h1>
<div><%= @post.body %></div>
<br>
<a href="/posts/<%= @post.id %>/delete">Edit Post</a>
&nbsp;&nbsp;&nbsp;
<a href="/posts/<%= @post.id %>/edit" onClick="delcfm()">Delete Post</a>
<br>
